---
import Layout from '@layouts/Layout.astro';
import getAllMembers from '@utils/db/getAllMembers';
import type { Member } from '../types';

let memberships: Member[] = [];
memberships = await getAllMembers();
---

<Layout title="Members">
  <table class="table-auto border">
    <thead class="border-b bg-slate-200">
      <tr>
        <th class="p-4">Member #</th>
        <th class="p-4">Name</th>
        <th class="p-4">Membership Size</th>
        <th class="p-4">Start Date</th>
        <th class="p-4">Expiration Date</th>
      </tr>
    </thead>
    <tbody>
      {
        memberships.map((member) => (
          <tr
            class="clickable-row odd:bg-white even:bg-slate-100 hover:bg-sky-200"
            id={member.membership_number}
          >
            <td class="p-4">{member.membership_number}</td>
            <td class="p-4">{member.name}</td>
            <td class="p-4">{member.membership_size}</td>
            <td class="p-4">
              {new Date(member.start_dt).toLocaleDateString()}
            </td>
            <td class="p-4">
              {new Date(member.expiration_dt).toLocaleDateString()}
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
</Layout>

<script>
  const rows = document.querySelectorAll('tr.clickable-row');

  rows.forEach((row) => {
    row.addEventListener('click', ({ target }) =>
      document.location.replace(`/member/${target.parentElement.id}`),
    );
  });
</script>
