---
import Layout from '@layouts/Layout.astro';
import getAllMembers from '@utils/db/getAllMembers';
import type { Response } from '@utils/db/getAllMembers';

const page = Astro.url.searchParams.get('page') || '1';
console.log(page);

let response: Response;

response = await getAllMembers(Number(page));

const { data, count, pages } = response;
---

<Layout title="Members">
  <table class="table-auto border">
    <thead class="border-b bg-slate-200">
      <tr>
        <th class="p-4">Member #</th>
        <th class="p-4">Name</th>
        <th class="p-4">Membership Size</th>
        <th class="p-4">Start Date</th>
        <th class="p-4">Expiration Date</th>
      </tr>
    </thead>
    <tbody>
      {
        data.map((member) => (
          <tr
            class="clickable-row odd:bg-white even:bg-slate-100 hover:bg-sky-200"
            id={member.membership_number}
          >
            <td class="p-4">{member.membership_number}</td>
            <td class="p-4">{member.name}</td>
            <td class="p-4">{member.membership_size}</td>
            <td class="p-4">
              {new Date(member.start_dt).toLocaleDateString()}
            </td>
            <td class="p-4">
              {new Date(member.expiration_dt).toLocaleDateString()}
            </td>
          </tr>
        ))
      }
    </tbody>
  </table>
  <div class="mx-auto my-9 w-fit">
    {
      pages.map((p) => (
        <a
          class={`border-r bg-slate-50 px-8 py-4 first:rounded-l-md last:rounded-r-md last:border-r-0 hover:bg-sky-200  ${Number(page) === p ? 'bg-sky-300' : 'bg-white'}`}
          href={`?page=${p}`}
        >
          {p}
        </a>
      ))
    }
  </div>
</Layout>

<script>
  const rows = document.querySelectorAll('tr.clickable-row');

  rows.forEach((row) => {
    row.addEventListener('click', ({ target }) =>
      document.location.replace(`/member/${target.parentElement.id}`),
    );
  });
</script>
