---
interface Props {
  label: string;
  name: string;
  id: string;
  options: (string | number)[];
}

const { label, name, id, options } = Astro.props;
---

<div class="col mb-3">
  <label for={name}>{label}</label>
  <select name={name} id={id} class="form-select">
    {options.map((option) => <option value={option}>{option}</option>)}
  </select>
</div>
